*{
  margin:0;
  padding:0;
}
.header{
  width: auto;
  padding: 10px 20px;
}

.inner{
  display: flex;
  width: 100%;
}
.header__left{
  margin-right: auto;
}
.logo{
  width: 10%;
  height: auto;
}
.header__right{
  display: flex;
  list-style: none;
  justify-content: end;
}
.header__item{
  margin:5px 15px ;
}
.header-text{
  text-decoration: none;
  color: grey;
}

main{
  position:relative;
  width: 100%;
}

.relative__img{
  width: 55%;
  margin: 0 0 0 auto;
}

.firstview.img{
  width:100%;
  height: 100%;
  display: block;
}

.text-group{
  position: absolute;
  top: 100px;
  left: 300px;
}

.emo-text{
  font-size: 60px;
  margin: 10px 0;
  line-height: 2em;
}

.commit-text{
  padding-top: 40px;
  font-size: 25px;
}

.ETC2019-text{
margin-bottom: 10px;
line-height: 2em;
}

.main__news{
width: 100%;
margin: 80px 0 ;
}

.main__news-box{
  width: 50%;
margin:0 auto;
}

.text__news-group{
margin:20px;
padding:2px
}

.news-text{
  font-size: 20px;
}

.kanji-news-text{
  font-size: 35px
}

.news__ul{
  list-style: none;
  margin: 20px;
}

.news__list{
  padding:10px;
  list-style: none;
}

.news_list_date{
  color: gray;

}

.news_list_tag{
  display: inline-block; 
  padding: 5px 15px;
  border-radius: 25px; 
  color: #FFF;
  background-color: #CC0099;
  margin: 0 5px;
}
.news_list_text{
  color: gray;

}
.main__about{
  width: 100%;
  margin: 80px auto;
}
.main__about-box{
  margin:0 auto;
  width: 70%;
}

.text__about-group{
  text-align: center;
  margin-bottom:15px ;
}

.about-text{
font-size:15px;

}

.subtitle-text{
font-size: 30px;
padding: 15px 0;
}

.neon_box{
  position: relative;
}

.neon_box img{
  position: absolute;
  width: 35%;
  height: auto;
  right: 0;
  top:10px;
}

.about_text_top{
  color: gray;
  width: 41%;
  padding-bottom: 15px;
  line-height: 30px;
  font-size: 20px;

}
.about_text_bottom {
  color: gray;
  width: 42%;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 80px;
}

.main__service{
width: 100%;
}

.main__service_box{
  width: 60%;
  margin: 80px auto;
}
.service__text-group{
  width: 50%;
  padding: 20px auto;
  
}

.kanji-service-text{
  margin-bottom: 30px;
}

.service__big-box{
  display: flex;
  color: #fff;
  padding: 0 10px;
}
.service_img2,.service_img3 img{
  width:20%;
  height: auto;
  margin-bottom: 20px;
}

.service-right-cont{
  display: flex;
  flex-direction: column;
}

.service__box_left{
  background-color:#CC0066;
  
}


.service_img1 img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top:35px;
  padding-bottom: 15px;
}

.service_text1{
  text-align: center;
}

.service_text__mian{
  padding:10px 23px;

}
.service__box_right_top{
  background-color: #CC3399;
}

.service__box_right_bottom{
  background-color: #CC6699;
}